#Data Pre-processing

In [ ]:
!mkdir analysis

mkdir: cannot create directory ‘analysis’: File exists

In [ ]:
!pip install geopandas

Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.0)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.20)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)

In [ ]:
import pandas as pd
import geopandas as gpd

In [ ]:
import folium
from folium.plugins import MarkerCluster
from folium import FeatureGroup

In [ ]:
from branca.element import Template, MacroElement

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

##Cultural participation data

In [ ]:
# loading the participation data
part_df = pd.read_csv('gdrive/My Drive/data/active_lives_unlabelled.csv')
part_df.head()

         London borough  ... H confidence interval upper
0  Barking and Dagenham  ...                      58.49%
1                Barnet  ...                      76.56%
2                Bexley  ...                      68.45%
3                 Brent  ...                      66.50%
4               Bromley  ...                      82.19%

[5 rows x 41 columns]

In [ ]:
part_df = part_df.rename(columns={'London borough': 'Borough'})

In [ ]:
variable_key = {
     "A" : "Spent time doing a creative, artistic, theatrical or music activity or a craft (%)",
     "B" : "Attended an event, performance or festival involving creative, artistic, dance, theatrical or music activity (%)",
     "C" : "Used a public library service (%)",
     "D" : "Attended a museum or gallery (%)",
     "E" : "Dance (%)"}

def get_rate_by_activity(new_df, variable_key):
  # removing unnecessary columns
  new_df = new_df[['Borough',
               'A rate (%)',
               'B rate (%)',
               'C rate (%)',
               'D rate (%)',
               'E rate (%)']]

  # relabelling the columns
  for i in variable_key:
    current_column = i + " rate (%)"
    new_df = new_df.rename(columns={current_column: variable_key[i]})
  return new_df

In [ ]:
 part_df = get_rate_by_activity(part_df, variable_key)
 part_df.head()

                Borough  ... Dance (%)
0  Barking and Dagenham  ...    21.57%
1                Barnet  ...    23.87%
2                Bexley  ...    21.10%
3                 Brent  ...    20.67%
4               Bromley  ...    24.21%

[5 rows x 6 columns]

In [ ]:
# checking if Borough columnn is safe to use as an index
part_df['Borough'].is_unique

True

In [ ]:
# setting Borough as index
part_df = part_df.set_index('Borough', drop=False)
part_df.head()

                                   Borough  ... Dance (%)
Borough                                     ...
Barking and Dagenham  Barking and Dagenham  ...    21.57%
Barnet                              Barnet  ...    23.87%
Bexley                              Bexley  ...    21.10%
Brent                                Brent  ...    20.67%
Bromley                            Bromley  ...    24.21%

[5 rows x 6 columns]

In [ ]:
part_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, Barking and Dagenham to nan
Data columns (total 6 columns):
 #   Column                                                                                                            Non-Null Count  Dtype
---  ------                                                                                                            --------------  -----
 0   Borough                                                                                                           33 non-null     object
 1   Spent time doing a creative, artistic, theatrical or music activity or a craft (%)                                33 non-null     object
 2   Attended an event, performance or festival involving creative, artistic, dance, theatrical or music activity (%)  33 non-null     object
 3   Used a public library service (%)                                                                                 33 non-null     object
 4   Attended a museum or gallery (%)                                                                                  33 non-null     object
 5   Dance (%)                                                                                                         33 non-null     object
dtypes: object(6)
memory usage: 1.9+ KB

In [ ]:
# dropping Nan indexed row
part_df = part_df[part_df.index.notnull()]
part_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, Barking and Dagenham to Westminster
Data columns (total 6 columns):
 #   Column                                                                                                            Non-Null Count  Dtype
---  ------                                                                                                            --------------  -----
 0   Borough                                                                                                           33 non-null     object
 1   Spent time doing a creative, artistic, theatrical or music activity or a craft (%)                                33 non-null     object
 2   Attended an event, performance or festival involving creative, artistic, dance, theatrical or music activity (%)  33 non-null     object
 3   Used a public library service (%)                                                                                 33 non-null     object
 4   Attended a museum or gallery (%)                                                                                  33 non-null     object
 5   Dance (%)                                                                                                         33 non-null     object
dtypes: object(6)
memory usage: 1.8+ KB

In [ ]:
part_df['Spent time doing a creative, artistic, theatrical or music activity or a craft (%)'].dtype

dtype('O')

In [ ]:
# checking data types
dataTypeSeries = part_df.dtypes
print('Data type of each column of participation data :')
print(dataTypeSeries)

Data type of each column of participation data :
Borough                                                                                                             object
Spent time doing a creative, artistic, theatrical or music activity or a craft (%)                                  object
Attended an event, performance or festival involving creative, artistic, dance, theatrical or music activity (%)    object
Used a public library service (%)                                                                                   object
Attended a museum or gallery (%)                                                                                    object
Dance (%)                                                                                                           object
dtype: object

In [ ]:
# storing this version of the dataframe for labelling later
string_part_df = part_df.copy() 
string_part_df.head()

                                   Borough  ... Dance (%)
Borough                                     ...
Barking and Dagenham  Barking and Dagenham  ...    21.57%
Barnet                              Barnet  ...    23.87%
Bexley                              Bexley  ...    21.10%
Brent                                Brent  ...    20.67%
Bromley                            Bromley  ...    24.21%

[5 rows x 6 columns]

In [ ]:
# converting strings displaying rate percentages to floats
part_df[part_df.columns[1:]] = part_df[part_df.columns[1:]].replace('%','', regex=True).astype(float)
part_df[part_df.columns[1:]] = part_df[part_df.columns[1:]]
part_df.head()

                                   Borough  ...  Dance (%)
Borough                                     ...
Barking and Dagenham  Barking and Dagenham  ...      21.57
Barnet                              Barnet  ...      23.87
Bexley                              Bexley  ...      21.10
Brent                                Brent  ...      20.67
Bromley                            Bromley  ...      24.21

[5 rows x 6 columns]

In [ ]:
string_part_df.head()

                                   Borough  ... Dance (%)
Borough                                     ...
Barking and Dagenham  Barking and Dagenham  ...    21.57%
Barnet                              Barnet  ...    23.87%
Bexley                              Bexley  ...    21.10%
Brent                                Brent  ...    20.67%
Bromley                            Bromley  ...    24.21%

[5 rows x 6 columns]

##Geo data

In [ ]:
# uncomment to unzip London bourough shape files
!unzip 'gdrive/My Drive/data/statistical-gis-boundaries-london.zip'

# loading shape file with geodata for London boroughs
fp = '/content/statistical-gis-boundaries-london/ESRI/London_Borough_Excluding_MHW.shp'
gdf = gpd.read_file(fp)
gdf.head()

Archive:  gdrive/My Drive/data/statistical-gis-boundaries-london.zip
replace __MACOSX/._statistical-gis-boundaries-london? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

                   NAME  ...                                           geometry
0  Kingston upon Thames  ...  POLYGON ((516401.600 160201.800, 516407.300 16...
1               Croydon  ...  POLYGON ((535009.200 159504.700, 535005.500 15...
2               Bromley  ...  POLYGON ((540373.600 157530.400, 540361.200 15...
3              Hounslow  ...  POLYGON ((521975.800 178100.000, 521967.700 17...
4                Ealing  ...  POLYGON ((510253.500 182881.600, 510249.900 18...

[5 rows x 8 columns]

In [ ]:
# removing unecessary columns
gdf = gdf[['NAME','geometry','HECTARES']]
gdf.head()

                   NAME  ...   HECTARES
0  Kingston upon Thames  ...   3726.117
1               Croydon  ...   8649.441
2               Bromley  ...  15013.487
3              Hounslow  ...   5658.541
4                Ealing  ...   5554.428

[5 rows x 3 columns]

In [ ]:
# checking if NAME columnn is safe to use as an index
gdf['NAME'].is_unique

True

In [ ]:
# setting NAME as index
gdf = gdf.set_index('NAME', drop=False)
gdf.head()

                                      NAME  ...   HECTARES
NAME                                        ...
Kingston upon Thames  Kingston upon Thames  ...   3726.117
Croydon                            Croydon  ...   8649.441
Bromley                            Bromley  ...  15013.487
Hounslow                          Hounslow  ...   5658.541
Ealing                              Ealing  ...   5554.428

[5 rows x 3 columns]

In [ ]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 33 entries, Kingston upon Thames to City of London
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NAME      33 non-null     object
 1   geometry  33 non-null     geometry
 2   HECTARES  33 non-null     float64
dtypes: float64(1), geometry(1), object(1)
memory usage: 1.0+ KB

##Merging the data sets

In [ ]:
# merging geodata with numerical participation data
merged = gdf.join(part_df)
merged.head()

                                      NAME  ... Dance (%)
NAME                                        ...
Kingston upon Thames  Kingston upon Thames  ...     21.87
Croydon                            Croydon  ...     23.50
Bromley                            Bromley  ...     24.21
Hounslow                          Hounslow  ...     24.91
Ealing                              Ealing  ...     27.88

[5 rows x 9 columns]

In [ ]:
merged.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 33 entries, Kingston upon Thames to City of London
Data columns (total 9 columns):
 #   Column                                                                                                            Non-Null Count  Dtype
---  ------                                                                                                            --------------  -----
 0   NAME                                                                                                              33 non-null     object
 1   geometry                                                                                                          33 non-null     geometry
 2   HECTARES                                                                                                          33 non-null     float64
 3   Borough                                                                                                           33 non-null     object
 4   Spent time doing a creative, artistic, theatrical or music activity or a craft (%)                                33 non-null     float64
 5   Attended an event, performance or festival involving creative, artistic, dance, theatrical or music activity (%)  33 non-null     float64
 6   Used a public library service (%)                                                                                 33 non-null     float64
 7   Attended a museum or gallery (%)                                                                                  33 non-null     float64
 8   Dance (%)                                                                                                         33 non-null     float64
dtypes: float64(6), geometry(1), object(2)
memory usage: 3.8+ KB

In [ ]:
string_part_df.head()

                                   Borough  ... Dance (%)
Borough                                     ...
Barking and Dagenham  Barking and Dagenham  ...    21.57%
Barnet                              Barnet  ...    23.87%
Bexley                              Bexley  ...    21.10%
Brent                                Brent  ...    20.67%
Bromley                            Bromley  ...    24.21%

[5 rows x 6 columns]

In [ ]:
# merging geodata with string percentage data for labelling
merged_labels = gdf.join(string_part_df)
merged_labels.head()

                                      NAME  ... Dance (%)
NAME                                        ...
Kingston upon Thames  Kingston upon Thames  ...    21.87%
Croydon                            Croydon  ...    23.50%
Bromley                            Bromley  ...    24.21%
Hounslow                          Hounslow  ...    24.91%
Ealing                              Ealing  ...    27.88%

[5 rows x 9 columns]

##Maps
sources:
######1. https://vverde.github.io/blob/interactivechoropleth.html
######2. https://towardsdatascience.com/folium-and-choropleth-map-from-zero-to-pro-6127f9e68564
#####3. https://towardsdatascience.com/how-to-step-up-your-folium-choropleth-map-skills-17cf6de7c6fe

In [ ]:
# coordinates for London
London = [51.506949, -0.122876]

# creating basemap
map = folium.Map(location=London,
                 zoom_start=11,
                 tiles = None)

folium.TileLayer('CartoDB positron',name="Light Map",control=False).add_to(map)

## Choropleth Maps

In [ ]:
# add a choropleth layer for each variable
myscale_A = (merged[variable_key['A']].quantile((0,0.2,0.4,0.6,0.8,1))).tolist()
choro_A = folium.Choropleth(
    geo_data=merged,
    name=variable_key['A'],
    data=merged,
    columns=['NAME',variable_key['A']],
    key_on="feature.properties.NAME",
    fill_color='BuGn',
    fill_opacity=0.7,
    line_opacity=0.2,
    threshold_scale=myscale_A,
    legend_name=variable_key['A'],
    smooth_factor=0,
    overlay=False).add_to(map)

myscale_B = (merged[variable_key['B']].quantile((0,0.2,0.4,0.6,0.8,1))).tolist()
choro_B = folium.Choropleth(
    geo_data=merged,
    name=variable_key['B'],
    data=merged,
    columns=['NAME',variable_key['B']],
    key_on="feature.properties.NAME",
    fill_color='BuPu',
    fill_opacity=0.7,
    line_opacity=0.2,
    threshold_scale=myscale_B,
    legend_name=variable_key['B'],
    smooth_factor=0,
    overlay=False).add_to(map)

myscale_C = (merged[variable_key['C']].quantile((0,0.2,0.4,0.6,0.8,1))).tolist()
choro_C = folium.Choropleth(
    geo_data=merged,
    name=variable_key['C'],
    data=merged,
    columns=['NAME',variable_key['C']],
    key_on="feature.properties.NAME",
    fill_color='GnBu',
    fill_opacity=0.7,
    line_opacity=0.2,
    threshold_scale=myscale_C,
    legend_name=variable_key['C'],
    smooth_factor=0,
    overlay=False).add_to(map)

myscale_D = (merged[variable_key['D']].quantile((0,0.2,0.4,0.6,0.8,1))).tolist()
choro_D = folium.Choropleth(
    geo_data=merged,
    name=variable_key['D'],
    data=merged,
    columns=['NAME',variable_key['D']],
    key_on="feature.properties.NAME",
    fill_color='YlOrBr',
    fill_opacity=0.7,
    line_opacity=0.2,
    threshold_scale=myscale_D,
    legend_name=variable_key['D'],
    smooth_factor=0,
    overlay=False).add_to(map)

myscale_E = (merged[variable_key['E']].quantile((0,0.2,0.4,0.6,0.8,1))).tolist()
choro_E = folium.Choropleth(
    geo_data=merged,
    name=variable_key['E'],
    data=merged,
    columns=['NAME',variable_key['E']],
    key_on="feature.properties.NAME",
    fill_color='PuRd',
    fill_opacity=0.7,
    line_opacity=0.2,
    threshold_scale=myscale_E,
    legend_name=variable_key['E'],
    smooth_factor=0,
    overlay=False).add_to(map)

In [ ]:
# Add hover functionality
style_function = lambda x: {'fillColor': '#ffffff', 
                            'color':'#000000', 
                            'fillOpacity': 0.1, 
                            'weight': 0.1}
highlight_function = lambda x: {'fillColor': '#000000', 
                                'color':'#000000', 
                                'fillOpacity': 0.50, 
                                'weight': 0.1}

def set_hover_functionality(variable):
  hover = folium.features.GeoJson(
      merged_labels,
      style_function=style_function, 
      control=False,
      highlight_function=highlight_function, 
      tooltip=folium.features.GeoJsonTooltip(
          fields=['NAME'],
          aliases=[''],
          style=("background-color: white; color: #333333; font-family: arial; font-size: 12px; padding: 10px;") 
      )
  )
  return hover

#define hover functionality for each variable
choro_list = [choro_A, choro_B, choro_C, choro_D, choro_E]
index = 0
for x in variable_key:
  choro = choro_list[index]
  index = index +1
  set_hover_functionality(variable_key[x]).add_to(choro)

##Plotting Markers

In [ ]:
# loading data (to see how data was combined and cleaned see infrastructure_data_preprocessing.ipynb)
music_venues = pd.read_csv("gdrive/My Drive/data/music_venues.csv")
theatre_venues = pd.read_csv("gdrive/My Drive/data/theatre_venues.csv")
library_venues = pd.read_csv("gdrive/My Drive/data/library_venues.csv")
museum_gallery_venues = pd.read_csv("gdrive/My Drive/data/museum_gallery_venues.csv")
dance_venues = pd.read_csv("gdrive/My Drive/data/dance_venues.csv")
all_venues = pd.read_csv("gdrive/My Drive/data/all_venues.csv")

In [ ]:
# create a MarkerCluster object to group all venues 
all_cluster = MarkerCluster(name='All venues',overlay=True, show=True).add_to(map)

# create layers to group individual markers according to type of infrastructure
music_markers = folium.FeatureGroup(name = 'Music venues',show=False).add_to(map)
theatre_markers = folium.FeatureGroup(name = 'Theatres',show=False).add_to(map)
library_markers = folium.FeatureGroup(name = 'Public libraries',show=False).add_to(map)
museum_gallery_markers = folium.FeatureGroup(name = 'Museums and galleries',show=False).add_to(map)
dance_markers = folium.FeatureGroup(name = 'Dance venues',show=False).add_to(map)

# plot the markers on appropriate layer
def create_cluster(dataframe, cluster, color, icon):
  for index, row in dataframe.iterrows():
      folium.Marker(location=[row['latitude'], row['longitude']],
                    popup=row['name'],
                    icon=folium.Icon(color=color, icon=icon),
                    tooltip='click to see venue location').add_to(cluster)

def create_markers(dataframe, color, layer, icon):
  for index, row in dataframe.iterrows():
      folium.Marker(location=[row['latitude'], row['longitude']],
                    popup=row['name'],
                    icon=folium.Icon(color=color, icon=icon),
                    tooltip='click to see venue location').add_to(layer)

create_cluster(all_venues, all_cluster,'red','map-marker')

create_markers(music_venues,'pink', music_markers,'music')
create_markers(theatre_venues, 'orange', theatre_markers,'theater-masks')
create_markers(library_venues, 'green', library_markers,'book')
create_markers(museum_gallery_venues, 'purple', museum_gallery_markers,'brain')
create_markers(dance_venues, 'blue',dance_markers,'walking')

In [ ]:
folium.LayerControl(collapsed=True, position='bottomright').add_to(map)

## Exporting the Map

In [ ]:
# uncomment to export map as html file
map.save('map_done.html')