In [3]:
from google.colab import drive

In [4]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import pandas as pd
import numpy as np
data = pd.read_csv('/content/drive/MyDrive/data/Population by boroughs .csv')

In [6]:
data.describe()

       London population by borough
count                      33.000000
mean                   269649.757576
std                     77762.452539
min                     10938.000000
25%                    214107.000000
50%                    276940.000000
75%                    327753.000000
max                    399007.000000

In [9]:
# Range = Max - Min
max = 399007 
min = 10938 
Range = 399007- 10938
print(Range)

388069

In [10]:
data.median()

London population by borough     276940.0
dtype: float64

In [11]:
data.std()

London population by borough     77762.452539
dtype: float64

In [12]:
data.skew()

London population by borough    -1.102967
dtype: float64